[{lager, [
  {handlers, [
    {lager_console_backend, debug},
    {lager_file_backend, [{file, "logs/debug.log"}, {level, debug}]},
    {lager_file_backend, [{file, "logs/info.log"}, {level, info}]},
    {lager_file_backend, [{file, "logs/warning.log"}, {level, warning}]},
    {lager_file_backend, [{file, "logs/error.log"}, {level, error}]}
    ]}
  ]}
].
